{% extends 'dashboard/no_menu.html' %}

{% block content %}

<!-- Begin page content -->
<main class="flex-shrink-0 main has-footer">
    <!-- Fixed navbar -->
    <header class="header">
        <div class="row">
            <div class="col-auto px-0">
                <button class="menu-btn btn btn-40 btn-link back-btn" type="button">
                    <span class="material-icons">keyboard_arrow_left</span>
                </button>
            </div>
            <div class="text-left col align-self-center">

            </div>
            <div class="ml-auto col-auto align-self-center">
                <a href="/signup" class="text-white">
                    New Account
                </a>
            </div>
        </div>
    </header>

    <div class="container mt-3 mb-4 text-center">
        <h2 class="text-white">{{siteSet.title}}</h2>
        <p class="text-white mb-4">{{siteSet.sub_title}}</p>
    </div>

    <div class="col-12 col-md-12 col-lg-12">
                    {% for message in messages %}
                    {{ message|safe }}
                    {% endfor %}
    </div>
{% if request.path == '/reset' or request.path == '/reset/' %}
    <form method="POST" action="" id="reset">
          {% csrf_token %}
    <div class="container h-100 text-white">
        <div class="row h-100">
            <div class="col-12 align-self-center mb-4">
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4">
                        <div class="form-group float-label active">
                            <input type="email" class="form-control text-white" name="email">
                            <label class="form-control-label text-white">Email</label>
                        </div>
                        <p class="text-right"><a href="/login" class="text-white">Remembered Password?</a></p>
                        <!---- Form Errors ----->
                        <div id="output"></div>
                      </div>
                </div>
            </div>

        </div>
    </div>
</main>

<div class="footer no-bg-shadow py-3">
    <div class="row justify-content-center">
        <div class="col">
            <button type="submit" class="btn btn-primary rounded btn-block">Send Request</button>
        </div>
    </div>
</div>
</form>

{% else %}

<form method="POST" action="">
      {% csrf_token %}
<div class="container h-100 text-white">
    <div class="row h-100">
        <div class="col-12 align-self-center mb-4">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-7 col-md-6 col-lg-5 col-xl-4">
                  <div class="form-group float-label position-relative">
                      <input type="password" class="form-control text-white" name="password" required>
                      <label class="form-control-label text-white">New Password</label>
                  </div>
                  <div class="form-group float-label position-relative">
                      <input type="password" class="form-control text-white" name="password2" required>
                      <label class="form-control-label text-white">Confirm Password</label>
                  </div>
                    <!---- Form Errors ----->
                    <div id="output"></div>
                  </div>
            </div>
        </div>

    </div>
</div>
</main>

<div class="footer no-bg-shadow py-3">
<div class="row justify-content-center">
    <div class="col">
        <button type="submit" class="btn btn-primary rounded btn-block">Reset Password</button>
    </div>
</div>
</div>
</form>

{% endif %}

{% endblock %}
