<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="resetPasswordModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

      <form method="POST" action="">
      {% csrf_token %}
<input type="hidden" name="reset_password" value="reset_password">

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text"><span class="material-icons">lock_open</span></span>
</div>
<input type="password" class="form-control" placeholder="Old Password" aria-label="New Password" name="password">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text"><span class="material-icons">lock_open</span></span>
</div>
<input type="password" class="form-control" placeholder="New Password" aria-label="New Password" name="password1">
</div>

<div class="input-group mb-3">
<div class="input-group-prepend">
<span class="input-group-text"><span class="material-icons">lock_open</span></span>
</div>
<input type="password" class="form-control" placeholder="New Password" aria-label="Confirm Password" name="password2">
</div>
<br>
<div id="output"></div>
<br>
<button type="submit" class="btn btn-danger btn-lg btn-block">Change Password</button>
</form>

      </div>
    </div>
  </div>
</div>
